sphinx==7.2.6
sphinx_rtd_theme
sphinx_math_dollar
sphinx-autoapi==3.0.0
graphviz
m2r2==0.3.3.post2
git+https://github.com/brentyi/sphinxcontrib-programoutput.git
git+https://github.com/brentyi/ansi.git
